<mat-toolbar>
  <div class="container mx-auto flex items-center">
    <span>{{ 'APP.TITLE' | translate }}</span>
    <div class="ml-auto flex items-center">
      <!-- language -->
      <div>
        <button mat-button [matMenuTriggerFor]="langMenu">
          <mat-icon>language</mat-icon>
        </button>
        <mat-menu #langMenu="matMenu">
          <button mat-menu-item (click)="changeLanguage('sl')">
            Slovensko
          </button>
          <button mat-menu-item (click)="changeLanguage('en')">English</button>
        </mat-menu>
      </div>

      <!-- user -->
      <div>
        <button mat-button [matMenuTriggerFor]="userMenu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
          <div *ngIf="user | async as u">
            <div class="px-16 py-8">{{ u.username }}</div>
            <button mat-menu-item (click)="logout()">
              <mat-icon color="warn">cancel</mat-icon>
              {{ 'USER.LOGOUT' | translate }}
            </button>
          </div>
          <button
            *ngIf="(user | async) === undefined"
            mat-menu-item
            (click)="login()">
            <mat-icon>exit_to_app</mat-icon>
            {{ 'USER.LOGIN' | translate }}
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</mat-toolbar>

<div class="py-96 container mx-auto">
  <router-outlet></router-outlet>
</div>
