<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="flex items-center justify-center">
      <span class="flag-icon flag-icon-{{ item.country.toLowerCase() }}"></span>
    </div>
    <mat-card-title>{{ item.name }}</mat-card-title>
    <mat-card-subtitle>{{ countryName }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="item.imageUrl" class="max-w-none" />
  <mat-card-content>
    <div class="flex flex-col">
      <p
        #description
        class="whitespace-pre-line overflow-hidden description"
        (click)="toggleDescription()">
        {{ item.description }}
      </p>

      <!-- expand/collapse button -->
      <button mat-button (click)="toggleDescription()">
        {{ buttonText | translate }}
      </button>
    </div>
  </mat-card-content>
  <mat-card-actions align="end" *ngIf="user | async as u">
    <button mat-button (click)="edit()">
      {{ 'LIST.EDIT' | translate }}
    </button>
    <button
      *ngIf="u.role === 'admin'"
      mat-button
      color="warn"
      (click)="delete()">
      {{ 'LIST.DELETE' | translate }}
    </button>
  </mat-card-actions>
</mat-card>
