<div mat-dialog-content [formGroup]="form">
  <div class="flex flex-col">
    <!-- username -->
    <mat-form-field appearance="fill">
      <mat-label>{{ 'USER.USERNAME' | translate }}</mat-label>
      <input matInput formControlName="username" />
    </mat-form-field>

    <!-- password -->
    <mat-form-field appearance="fill">
      <mat-label>{{ 'USER.PASSWORD' | translate }}</mat-label>
      <input matInput formControlName="password" type="password" />
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button
    mat-raised-button
    color="primary"
    (click)="login()"
    [disabled]="(logging | async) || !form.valid">
    {{ 'USER.LOGIN' | translate }}
  </button>
  <button mat-button mat-dialog-close cdkFocusInitial>
    {{ 'COMMON.CANCEL' | translate }}
  </button>
</div>
